.searchContainer {
    text-align: left;
    color: #334750;
    background-color: #f8f9f9;
    width: 100%;
    margin: 20px 40px;

    @media only screen and (max-width: 600px) {
         margin: 0;
         padding: 0;
         width: 100vw;
    }
}

.filterBox {
    flex: 0 0 auto;
    margin: 40px 20px;
    overflow: visible;

    @media only screen and (max-width: 600px) {
        margin: 20px 0;
    }
}

.tweetsList {

    @media only screen and (min-width: 600px) {
        width: 60%;
        max-width: 800px;
    }
}

.inputBoxContainer {
    display: flex;
    flex-direction: row;
    height: 80px;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        height: auto;
   }
}

.inputBox {
    flex: 0 0 60%;

    @media only screen and (max-width: 600px) {
        margin: 0 20px;
   }
}