.chip {
    display: inline-block;
    margin: 10px 5px 0 5px;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    border-radius: 25px;
    background-color: #e7f3fa;
    color: #508bbf;
    font-weight: 550;
    cursor: pointer;
}

.selected {
    border: 1px solid blue;
}